[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/NerdCommenter"]
	path = bundle/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/matchIt"]
	path = bundle/matchIt
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/bufExplorer"]
	path = bundle/bufExplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/tagBar"]
	path = bundle/tagBar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
