[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/NerdCommenter"]
	path = bundle/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/matchIt"]
	path = bundle/matchIt
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/bufExplorer"]
	path = bundle/bufExplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/tagBar"]
	path = bundle/tagBar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/distinguished"]
	path = bundle/distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-eighties"]
	path = bundle/vim-eighties
	url = git://github.com/justincampbell/vim-eighties.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell
