[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/EasyMotion"]
	path = bundle/EasyMotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/NerdCommenter"]
	path = bundle/NerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
